body {font-family: "Times New Roman", Georgia, Serif;}
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 4px;
}

.footer{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #191814;/*#e7e7e7;*/
  color: white;
  text-align:center;
}
/* Navigation Bar */
.nav-link:hover{
  color:#4CAF50;
}

/* Banners - Make the image fully responsive */
.carousel-inner img {
    margin-top: 50px;
    width: 100%;
    min-height:200px;
    height: auto;
}

/* Product Price */
.price::before{
  
  color: green;
  font-size: 18px;
}

/* Product Cards - Make the image fully responsive */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 220px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.card a {
  text-decoration: none;
  font-size: 22px;
  color: black;
  }
.price{
  color: green;
  font-size: 18px;
}

#contactbutton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #f4c542;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
  
#contactbutton:hover, a:hover {
  opacity: 0.7;
}


/* Product Details   //style=\"width: 50%; height: 50%;\"  */
.container-fluid{
  margin-top: 100px;
}

/* Search */
.container.content {
  margin-top: 100px;
}

.container{
  padding-bottom: 100px;
}


.w3-container{
  margin-top:50px;
}

.navbar-text{
  padding-left: 20px;
  margin-top: 0px;
}

.w3-border-bottom.w3-border-light-grey{
  margin-top:30px;
}



